h1{
	position: fixed;
	top: 30%;
	left: 40%;
	}

html{
	background: black;
}

html:hover{
	background: white ;
	transition: 5s;
}

.normal{
	display: inline-block;
	border: 2px solid black;
	color: transparent;
	margin: 10px auto;
	padding-left:10px ;
	padding-right: 10px;
	font-size: 25px;
	border-radius: 10px;
	
	
}

.normal {
  position: absolute; 
  top: 50%;
  left: 40%;
}

.normal:hover {
	color: black;
	transition: 2s;
}



